<div class="modal hide">
    <div class="content">
        <header>
            <h1>Pontos de Coleta</h1>
            <a href="#">Fechar</a>
        </header>
        <form action="/search">
            <label for="search">Cidade</label>
            <div class="form field">
                <input type="text" name="search" placeholder="Pesquise por cidade">
                <button>
                    <img src="./assets/search.svg" alt="Buscar">
                </button>
            </div>
        </form>
    </div>
</div>